
<h2 style="color : red">Trang này không tìm thấy hoặc đã lỗi, vui lòng quay trở lại.</h2>
<br />
<img style="transform: rotate(3deg)" src="https://atlassianblog.wpengine.com/wp-content/uploads/2017/12/44-incredible-404-error-pages@3x-1560x760.png" width="70%"