
<div class="left-sidebar">
	<h2>Phân loại</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<vc:the-loai></vc:the-loai>
	</div>

	<h2>Thương hiệu</h2>
	<div class="panel-group category-products" id="accordian">
		<!--brands-productsr-->
		<vc:thuong-hieu></vc:thuong-hieu>
	</div>

</div>